@import "tailwindcss";

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Montserrat";
}

span {
  font-family: inherit;
  font-weight: inherit;
}

.überschrift {
  font-weight: 200;
}

.erinnerung,
.karte,
.title {
  font-family: "MS Madi";
}
